NEXT_PUBLIC_URL_BASE="https://sample.url"
NGENIUS_PORTAL_URL="https://sample.url"
NGENIUS_API_URL="https://sample.url"
NEXT_PUBLIC_NGENIUS_PAYPAGE_URL="https://sample.url"
NEXT_PUBLIC_NGENIUS_OUTLET_REFERENCE="outlet"
NEXT_PUBLIC_NGENIUS_API_HOSTEDSESSION="hostedsession"
NGENIUS_API_MERCHANT="merchant"
THIMS_MARKET_STORE_ID="id"
POPE_EXCHANGE_STORE_ID="id"
DB_URI="mongodb://localhost?directConnection=true"
DB_SDL_PLATFORMS_DATABASE="database"
DB_THIMS_MARKET_DATABASE="database"
DB_POPE_EXCHANGE_DATABASE="database"
DB_POPE_EXCHANGE_TABLE_EXCHANGE_RATES="table"
DB_POPE_EXCHANGE_TABLE_USERS="table"
DB_TABLE_ORDERS="table"
DB_TABLE_ORDER_PRODUCTS="table"
DB_TABLE_PRODUCTS="table"
DB_TABLE_PRODUCT_CATEGORIES="table"
DB_TABLE_PRODUCT_CREATORS="table"
SMTP_HOST="localhost"
SMTP_HOST_NAME="sample.host"
SMTP_PORT="587"
SMTP_USER="email@sample.host"
SMTP_PASSWORD="password"
THIMS_MARKET_PRODUCTS_PATH="/path"
FULFILLMENTS_PATH="/path"
FULFILLMENTS_URL="https://sample.url"
POLYGON_RPC_URL="https://sample.url"
POLYGON_GASSTATION_URL="https://sample.url"
POLYGON_USDT_CONTRACT_ADDRESS="address"
POLYGON_WALLET_PRIVATE_KEY="key"
POLYGON_WALLET_ADDRESS="address"
