NEXT_PUBLIC_URL_BASE="http://localhost:3000"
DB_URI="mongodb://localhost?directConnection=true"
DB_SDL_PLATFORMS_DATABASE="database"
DB_THIMS_MARKET_DATABASE="database"
DB_TABLE_ORDERS="table"
DB_TABLE_ORDER_PRODUCTS="table"
DB_TABLE_PRODUCTS="table"
DB_TABLE_PRODUCT_CATEGORIES="table"
DB_TABLE_PRODUCT_TYPES="table"
DB_TABLE_PRODUCT_CREATORS="table"
THIMS_MARKET_STORE_ID="id"
THIMS_MARKET_TYPE_WEBSITE_THEMES_ID="id"
THIMS_MARKET_PRODUCTS_PATH="/path"